body {
    background: linear-gradient(900deg, #46A098 0%, #54A654 100%);
    font-family: "PT Sans", sans-serif;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

header {
    background-color: #9846A0;
    padding: 1.25rem 1rem;
    /* might be too much padding????? */
}

header a {
    color: #FFF;
    text-decoration: none;
    display: block;
}

