body {
    background: linear-gradient(900deg, #46A098 0%, #54A654 100%);
    font-family: "PT Sans", sans-serif;
}

.inner-container {
    margin: 0 auto;
    padding: 1rem;
}

main .inner-container {
    max-width: 30.5rem;
    margin: 0;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #9846A0;
    height: 4.9375rem;
}

header a {
    color: #FFF;
    text-decoration: none;
    display: block;
}

.toggle-btn {
    background: #9846A0;
    border: none;
    outline: none;
    padding: 0;
}

.toggle-btn:hover {
    cursor: pointer;
    background-color: #A258A9;
}

.menu {
    margin: 0 auto;
    width: 18rem;
    padding: 0 1rem;
}

.menu li {
    font-size: 1.125rem;
    line-height: 3.5rem;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: #CECBCB 1px solid;
}

.menu li:hover,
.menu li:focus {
    background-color: #A258A9;
    padding: 0 0.5rem 0 0.5rem;
}

.menu li:first-child {
    border-top: #CECBCB 1px solid;
}

header nav {
    position: absolute;
    top: 4.85rem;
    left: 0;
    width: 100vw;
    background-color: #9846A0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out;
}

.show-nav {
    max-height: 100vh;
}

header img {
    width: 2.375rem;
}

.show-nav {
    max-height: 100vh;
    padding-bottom: 2.5rem;

}

svg {
    width: 8.3125rem;
    height: 3.1875rem;
}

.menu-icon {
    height: 2.375rem;
    width: 2rem;
}

.bag-icon {
    height: 1.5rem;
    width: 1.5rem;
}

/* typography */

h1 {
    color: #FFF;
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 1.5rem;
}

span {
    font-weight: 700;
}

p {
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 2.5rem;
}

/* main content */

.cta-btn {
    background-color: #9846A0;
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
}

.cta-btn:hover,
.cta-btn:focus {
    background-color: #A258A9;
}

/* media queriesssss */

/* medium */
@media (min-width: 780px) {
    .toggle-btn {
        display: none;
    }

    header nav {
        position: static;
        max-height: none;
        width: auto;
        overflow: visible;
        padding-bottom: 0;
        width: 100%;
        order: 3;
    }

    header {
        height: auto;
    }

    .menu {
        display: flex;
        width: auto;
        padding: 0;
        gap: 2rem;
        justify-content: space-between;
    }

    .menu li {
        border-bottom: none;
        gap: 4rem;
    }

    .menu li:first-child {
        border-top: none;
    }

    main {
        padding-top: 2.5rem 3rem;
    }

    .flex-container {
        flex-wrap: wrap;
    }

    main section.inner-container {
        max-width: 35rem;
        padding: 2.25rem 2rem;
        margin: 0;
    }

}

/* wide */
@media (min-width: 1037px) {
       
    .flex-container {
        flex-wrap: nowrap;
        align-items: center;
        position: relative;
    }

    nav {
        justify-content: space-between;
    }

    .menu {
        justify-content: center;
        gap: 4rem;
    }

    /* I have tried over and over to get the shopping bag icon back to the right side of the screen, but I'm officially stumped. Nothing is working for me, so it lives there now lol */

}

/* final size */
@media (min-width: 1920px) {
    .inner-container {
        max-width: 1820px;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
    }
}